
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1 class="text-white"> <img class="logo" src="https://scontent.faqp5-1.fna.fbcdn.net/v/t39.30808-6/326333139_2270343309803578_4895101263180961203_n.png?_nc_cat=109&cb=99be929b-59f725be&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGCSsiA5tUy1WLkjuR0z3O6GW2AxHifr6oZbYDEeJ-vqqH1ti98TL7hT_7hPb8Y4GbBMFvx_PJm_RnfB44S04yO&_nc_ohc=4aWTCgoRV_cAX_mgVxo&_nc_zt=23&_nc_ht=scontent.faqp5-1.fna&oh=00_AfBeUOAS3RUYEqs4AQhiQTyEH3T3NIHlWvNDSjjjh6cDBA&oe=64D6D019" alt=""> Librerías Líder</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>
  <!--  CAMBIAR -->
  <a routerLink="/admin/libros/crear" class="nav-link active btn btn-gray" href="#">
    <button class="btn btn-primary">
        Crear Libro
    </button>
  </a>
  <br>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Año de publicación</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            <th scope="col">Descripción</th>
            <th scope="col">Stock</th>
            <th scope="col">Firmado</th>
            <th scope="col">Envío Gratis</th>
            <th scope="col">Autor</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libros">
            <td>{{ libro.id }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.fecha }}</td>
            <td>{{ libro.precio }}</td>
            <td>
                <img 
                    src="{{ libro.imagen }}" 
                    alt="{{ libro.titulo }}"
                    width="100"
                    height="150">
            </td>
            <td>{{ libro.descripcion }}</td>
            <td>{{ libro.stock }}</td>
            <td>
              <input type="checkbox" [checked]="libro.firmado" disabled class="form-check-input"/>
            </td>
            <td>
              <input type="checkbox" [checked]="libro.hay_envio_gratis" disabled class="form-check-input"/>
            </td>
            <td>{{ libro.autor }}</td>
            <td>
              <a routerLink="/admin/libros/{{ libro.id }}/" title="view">
                <button class="btn btn-primary">
                  <i class="bi bi-eye-fill"></i>
                </button>
              </a>
                <a routerLink="/admin/libros/{{ libro.id }}/editar" title="Edit">
                    <button class="btn btn-warning">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </a>
                <button (click)="eliminarLibro(libro.id)" button class="btn btn-danger">
                    <i class="bi bi-calendar-x-fill"></i>
                </button>


            </td>
        </tr>
    </tbody>
</table>