<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1 class="text-white">Editar libro</h1>
      </a>
    </div>
  </nav>

<div class="container">
  <a routerLink="/admin/libros" class="btn btn-secondary" title="Cancelar">
    Cancelar
  </a>
  
  <form (submit)="editarLibro(titulo, ano_publicacion, precio, imagen, descripcion, stock, firmado, hay_envio_gratis, autor)">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Titulo" value="{{ libro.titulo }}" #titulo>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Año publicacion" value="{{ libro.ano_publicacion }}" max= "2023" #ano_publicacion>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Precio" value="{{ libro.precio }}" min= "1" #precio>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Imagen" value="{{ libro.imagen }}" #imagen>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Descripcion" value="{{ libro.descripcion }}" #descripcion>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Stock mayor o igual a cero" value="{{ libro.stock }}" min="0" #stock>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" [checked]="libro.firmado" #firmado>
      <label class="form-check-label">Firmado</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" [checked]="libro.hay_envio_gratis" #hay_envio_gratis>
      <label class="form-check-label">Envío Gratis</label>
    </div>
    <div class="form-group">
      <label>Autor</label>
      <select class="form-control" value="{{ libro.autor }}" #autor>
        <option *ngFor="let autor of autores" [value]="autor.id">{{ autor.nombre }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
  </form>
</div>

<!-- Add Bootstrap JS (Optional, but needed for some components like modals) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
